<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings"
            type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">

            <section name="BG3LocalizationMerger.Properties.Settings"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>

        <BG3LocalizationMerger.Properties.Settings>
            <setting name="UnpackedDataPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LanguagePackPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ReferencePackPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MergeDialogues" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MergeTooltips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MergeItemNames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MergeItemDescriptions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MergeBooks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MergeHints" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MergeStatusNames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MergeStatusDescriptions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MergeQuestNames" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MergeQuestDescriptions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MergeQuestMarkers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MergeWaypoints" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MergeMiscs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MergeCharacters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CultureName" serializeAs="String">
                <value />
            </setting>
        </BG3LocalizationMerger.Properties.Settings>
    </userSettings>
</configuration>